* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(253, 214, 221);
}

h1 {
    color: palevioletred;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: pink;
    padding-bottom: 7px rgb(233, 122, 141);
    color: beige;
}

table,
td {
    border: solid rgb(251, 159, 174)
}

.hidden {
    color: transparent;
    background-color: palevioletred;
}

